::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
        body{
            margin: 0;
            padding: 0;

        }
        a{
            text-decoration: none;
            color: black;
        }
        .overalldiv{
            width: 100%;
            margin-left: 0px;
            overflow-x: hidden;
        }
       
        .imagemain-container{
            width: 100%;
            position: relative;
        }
        .mini-container {
            position: relative;
            width: 100%;
        }
        .scratch-auction-div {
            display: flex;
        }
    
       

        .text-overlay-scratchcard {
            position: absolute;
            top: 60%;
            left: 76%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #feaa5d;
            color: #feaa5d;
            padding: 20px 10px;
            border-radius: 3px;
            box-shadow: 0px 0px 0px 0px;
            width: 38%;
            cursor: pointer;
        }

        .text-overlay-auction {
            position: absolute;
            top: 60%;
            right: 40%;
            transform: translate(-50%, -50%);
            background-color: #feaa5d;
            border: 1px solid white;
            color: white;
            padding: 20px 10px;
            border-radius: 3px;
            box-shadow: 0px 0px 0px 0px;
            width: 38%;
            cursor: pointer;
        }

        .text-overlay-fantasy {
            position: absolute;
            top: 60%;
            left: 76%;
            transform: translate(-50%, -50%);
            background-color: #56b2b8;
            border: 1px solid white;
            color: white;
            ;
            padding: 20px 10px;
            border-radius: 3px;
            box-shadow: 0px 0px 0px 0px;
            width: 38%;
            cursor: pointer;
        }

        .text-overlay-raffle {
            position: absolute;
            top: 60%;
            right: 40%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #feaa5d;
            color: #feaa5d;
            ;
            padding: 20px 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 0px 0px;
            width: 38%;
            cursor: pointer;
        }

        .icone {
            background-color: #56b2b8;
            border: 1px solid white;
            margin-top: -1px;
            padding: 20px;
            text-align: center;
            color: white;
        }

        .footer-logo {
            width: 30%;
            margin-top: 10px;
        }

        .footer-logo img {
            width: 200px;
        }

        .last-div {
            display: flex;
            background-color: #56b2b8;
            justify-content: space-between;
        }
        .info-help{
            display: flex;
            width: 50%;
            justify-content: space-between;
        }
        .help-info-abot{
            display: flex;
            margin-left: 100px;
            justify-content: space-between;
          
        }
        .footer-first-container{
            padding: 20px;
            width: 50%;
           
        }
        p {
            color: white;
        }
          
          .social-media-list {
            display: flex;
            margin-bottom: 20px;
            margin-top: 20px;
          }
          .favicon-div{
            padding: 10px 20px;
          }
          .fab.fa-twitter,
          .fab.fa-instagram,
          .fab.fa-facebook,
          .fa-brands.fa-linkedin{
            color: white;
          }
        .second-a {
            text-decoration: none;
            color: white;
        }
       .footer-container{
        padding: 20px;
        width: 50%;
        font-size: 20px;
        margin-left: 100px;
       }
        .footer-heading {
            font-family: 'FuturaPTMedium', sans-serif;
            padding-bottom: 10px;
            margin-left: 20px;
        }
        .footer-a-div{
            padding: 20px;
            width: 200px;
        }
        .footer-button{
            display: flex;
        }
        .footer-login-button{
            padding: 15px 25px;
            border-radius: 3px;
            border: none;
            font-weight: bold;
            font-size: large;
        }
        .footer-signup-button{
            padding: 15px 25px;
            border-radius: 3px;
            border: none;
            font-weight: bold;
            font-size: large;
            color: black;
            background-color: orange;
            margin-left: 15px;
        }
        @media screen and (min-width: 280px) and (max-width: 1240px){
            .first-list{
                display: none;
            }
            .logo-div{
                margin-left: -200px;     
            }
            
            .img-logo{
                display: flex;
            }
            /* .signup-button{
                width: 50px;
                font-size: 10px;
               
            } */
            .signup-button{
                padding: 7px;
            }
            
            .button-login{
                margin-left: -25px;
            }
            .fa-bars{
                display: flex;
                font-size: 40px;
                padding: 30px;
                margin-left: -20px;
            }
           .logo-div img{
            width: 150px;
            margin-left: 170px;  
           }
            .img-logo{
               margin: 0;
                width: 100%;
            }
            .img-logo img{
            width: 50px;
        }
            .scratch-auction-div{
                display: flex;
                flex-direction: column;
            }
            .last-div{
                display: flex;
                flex-direction: column;
            }
            .info-help{
                display: flex;
                font-size: 20px;
            }
            .help-info-abot{
                display: flex;
                flex-direction: column;
            }
            .footer-container{
                margin-left: -100px;
                margin-right: 100px;
            }
            /* .text-overlay-scratchcard,
            .text-overlay-auction,
            .text-overlay-fantasy,
            .text-overlay-raffle{
                top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            } */
        }